extends layout

block title
    title Hackernews clone - Node.js

block styles
    link(rel='stylesheet', href='/css/home.css')

block content
    section#wrapper.container-fluid
        #headerWrapper
            header.container-fluid
                div#logo
                    a(href="/?query=&sort=&prefix=&dateRange=&type=&page=0")
                        img(src="images/logo-hn-search.webp")
                div.vertical-center.username= username
                    
                div#search 
                    i.fa.fa-search.icon
                    form(action="/search"+search_url, method="post")
                        input(type="hidden", name="queryParams", value=queryParams)
                        input(type="text", name="search", placeholder="Search", value=query)
                        input(type="submit", value="Submit",style={"position":"absolute","left":"-9999px"})
                div.vertical-center.history
                    a(href="/history").pull-right History

            #filters
                .container-fluid
                    .row
                        .col-sm-8(style={"display":"flex"})
                            span Search
                            form(action="/type", method="post")
                                input(type="hidden", name="queryParams", value=queryParams)
                                select(name="type",onchange="this.form.submit()")
                                    option(value="",selected= "" == type) All
                                    option(value="story",selected= "story" == type) Story
                                    option(value="comment",selected= "comment" == type) Comment
                            span by
                            form(action="/sort", method="post")
                                input(type="hidden", name="queryParams", value=queryParams)
                                select(name="sort",onchange="this.form.submit()")
                                    option(value="popularity",selected= "popularity" == sort) Popularity
                                    option(value="byDate",selected= "byDate" == sort) Date
                            span for
                            form(action="/dateRange", method="post")
                                input(type="hidden", name="queryParams", value=queryParams)
                                select(name="dateRange",onchange="this.form.submit()")
                                    option(value="", selected ="" == dateRange) All Time
                                    option(value="last24h", selected ="last24h" == dateRange) Last 24 hour
                                    option(value="pastWeek", selected ="pastWeek" == dateRange) Past week
                                    option(value="pastMonth", selected ="pastMonth" == dateRange) Past month
                                    option(value="pastYear", selected ="pastYear" == dateRange) Past Year
                        .col-sm-4
                            p(style={"text-align":"right"})
                                span= count+ " results ("
                                span= executionTime + ")"

        article#content
            .container-fluid
                each hit in hits
                    div.news 
                        h1 
                            a(href=hit.url ,target="_blank")= hit.title || hit.story_text || 'No title'
                        div= hit.comment_text || ""
                        div
                            span= hit.points + " points |"
                            span= hit.author + " | "
                            span= hit.created_at_i + " ago | "
                            span= hit.num_comments + " comment | "
                            span= " (" + hit.url ? hit.url : '#' + ")"
        footer
            
            br
            
            -var lower_limit = (parseInt((page - 1)/pageButtonCount) * pageButtonCount) + 1
            -var upper_limit = lower_limit * pageButtonCount;
            -var paginationNo = lower_limit - 2

            if count >= recordsPerPage
                nav(aria-label='...', style='text-align: center')
                    ul.pagination
                        -if (lower_limit > 1)
                            li.page-item 
                                -var pageUrl =  base_url + (lower_limit - pageButtonCount);
                                a.page-link(href=pageUrl, tabindex='-1') Previous
                        -else
                            li.page-item.disabled
                                a.page-link(href='#', tabindex='-1') Previous
                        -for (i = 1; i < pageButtonCount + 1; i++)

                            -if (count > (recordsPerPage * paginationNo))
                                -paginationNo = paginationNo + 1
                                -var pageUrl =  base_url  + paginationNo; /*[MODIFY THIS TO SUIT YOUR USAGE]*/
                                    -if (page != paginationNo)
                                        li.page-item
                                            a.page-link(href=pageUrl) #{paginationNo}
                                    -else
                                        li.page-item.active
                                            a.page-link(href='#')
                                                | #{paginationNo}
                                                span.sr-only (current)
                        - if (count > (recordsPerPage * upper_limit))
                            -var pageUrl = base_url  + (upper_limit + 1) /*[MODIFY THIS TO SUIT YOUR USAGE]*/
                            li.page-item
                                a.page-link(href=pageUrl) Next
                        -else
                            li.page-item.disabled
                                a.page-link(href='#', tabindex='-1') Next